#title{
    color: navy;
}

#enter{
    color: darkgrey;
}
.statement{
    font-weight:bold;
}


.editor-label > label{
    font-weight:bold;
    float: left;
    width: 150px;
    font-size: 0.875em;
}

.message{
    color: red;
}

#results{
    color: gold;
}